{% extends 'base.html' %}

<!-- Content Block -->
{% block page_title %} OSRS Grand Exchange {% endblock %}

{% block content %}
  <div class="container">
    <div class="header"><h1>Price Index</h1></div>
    <hr />

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- Table -->
    <table class="table table-hover">
      <tr>
        <th>ITEM</th>
        <th>BEING SOLD</th>
        <th>BEING BOUGHT</th>
        <th>PRICE</th>
      </tr>

      <tr>
        <td>{{ name }}</td>
        <td>{{ sell_vol }}</td>
        <td>{{ buy_vol }}</td>
        <td>{{ price }}</td>
      </tr>
    </table>
  </div>
{% endblock %}
