{% extends 'base.html' %}

<!-- Content Block -->
{% block page_title %} OSRS Grand Exchange {% endblock %}

{% block content %}
  <div class="container">
    <div class="header"><h1>Price Index</h1></div>
    <hr />

    <!-- Table -->
    <table class="table table-hover">
      <tr>
        <th>ITEM</th>
        <th>BEING SOLD</th>
        <th>BEING BOUGHT</th>
        <th>PRICE</th>
      </tr>

      {% for item in ge_data %}
      <tr>
        <td>{{ item['name'] }}</td>
        <td>{{ item['sell_quantity'] }}</td>
        <td>{{ item['buy_quantity'] }}</td>
        <td>{{ item['overall_average'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
