{% extends 'bootstrap/base.html' %}

{% block title %}Runeberg{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
  {{ super() }}
  {{ fixes.ie8() }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='custom.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
  <div class="container">
    <div class="topnav" id="myTopnav">
      <a href="#" class="active">Home</a>
      <a href="#">Markets</a>
      <a href="#">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <script>
  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
  </script>
{% endblock %}
