{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Content Block -->
{% block page_title %} OSRS Grand Exchange {% endblock %}

{% block content %}
  <div class="container">
    <div class="header"><h1>Price Index</h1></div>
    <hr />

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="row">

      <div class="col-sm-4">
        <form class="form-inline" action="/" method="post">
          <div class="form-group mb-2">
            <div class="form-group mx-sm-3 mb-2">
              {{ form.hidden_tag() }}
              {{ form.csrf_token }}
              {{ form.input(class="form-control", placeholder="Ex. Twisted Bow") }}
            </div>
            <span class="pull-right" style="margin-left:10px">
              <input class="btn btn-primary mb-2" type="submit" value="Search">
            </span>
          </div>
        </form>
      </div>

      <div class="col-sm-8">
        <!-- Table -->
        <div class="table-responsive-sm">
          <table class="table table-striped">

            <tr>
              <th>ITEM</th>
              <th>BEING SOLD</th>
              <th>BEING BOUGHT</th>
              <th>PRICE</th>
            </tr>

            {% for item in items %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.sell_vol }}</td>
              <td>{{ item.buy_vol }}</td>
              <td>{{ item.price }}</td>
            </tr>
            {% endfor %}

          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
