{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row front-page">

      <div class="col-sm-6">
        <h1><span style="font-weight: 800;";>Rune</span>berg</h1>
        <p>The world's first Oldschool Runescape financial news provider.<br>Fast, up-to-date and open-source.</p>
        <a class="btn btn-primary" href="markets">View Markets</a>
        <a class="btn btn-secondary" href="markets">See FAQs</a>
      </div>

      <div class="col-sm-6">
        <img src="{{url_for('static', filename='logo.png')}}" alt="logo" style="height:170px;width:170px;float:right;"/>
      </div>

    </div>
    <div class="row">

      <div class="col">

      </div>

      <div class="col-5">
      
      </div>

      <div class="col">

      </div>

    </div>
  </div>
{% endblock %}
