{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row front-page">

      <div class="col"></div>
      <div class="col-5">
        <h1><span style="font-weight: 800;";>Rune</span>berg</h1>
        <p>The first word in Oldschool Runescape financial news.<br>Fast, up-to-date and open-source.</p>
        <a class="btn btn-primary" href="markets">View Markets</a>
        <a class="btn btn-secondary" href="markets">See FAQs</a>
      </div>
      <div class="col"></div>

    </div>
  </div>
{% endblock %}
